body
{
    background: url("../img/3-1.jpg") fixed;
}

#siteTitle
{
    margin-top: 250px;
}

.nav li a
{
    margin: 1%;
}

.card
{
    background-color:rgba(255, 255, 255, 0.7);
}

.card li
{
    background-color:rgba(0, 0, 0, 0);
}

.card-footer a
{
    margin: 0.5%;
}

.remove-ticket
{
    margin-bottom: 1em;
}

.alert
{
    margin: 2%;
}

.jumbotron
{
    padding-top: 20px;
    padding-bottom: 0;
}

@media screen {
    body
    {
        padding-top: 200px;
    }
}

@media screen and (min-width: 576px) {
    body
    {
        padding-top: 100px;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
