<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
            <style>
                .author
                {
                    text-align: right;
                }
            </style>
    </head>

    <body>

        <h2>{{ contact.subject }}</h2>
        <p>{{ contact.messageText }}</p>
        <div class="author">
            <em>{{ contact.email }}</em>
        </div>

    </body>
</html>