{% extends 'base.html.twig' %}

{% block body %}

    {% if flashes is defined %}
        {% for flash in flashes %}
            <div class="alert alert-success text-center" role="alert">
                {{ flash|trans }}
            </div>
        {% endfor %}
    {% endif %}

    <h1 id="siteTitle" class="display-4 text-center"><strong>{{ 'siteTitle'|trans }}</strong></h1>

{% endblock %}
