{% extends 'base.html.twig' %}

{% block body %}

    {% for flash in app.flashes('success') %}
        <div class="alert alert-success text-center" role="alert">
            {{ flash|trans }}
        </div>
    {% endfor %}

    <h1 id="siteTitle" class="display-4 text-center"><strong>{{ 'siteTitle'|trans }}</strong></h1>

{% endblock %}
