{% extends 'Order/order.html.twig' %}

{% block form %}

    {{ form_start(form) }}

        <div class="card-body">

            {{ form_row(form.date) }}

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">{% trans %}order.next_step{% endtrans %} <i class="fas fa-angle-double-right"></i></button>
        </div>

    {{ form_end(form) }}

{% endblock %}