{% extends 'Order/order.html.twig' %}

{% block form %}

    {{ form_start(form) }}

        <div class="card-body">

                {{ form_row(form.duration) }}

        </div>

        <div class="card-footer">
            <a role="button" href="{{ path('app_previous') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> {% trans %}order.previousStep{% endtrans %}</a>
            <button type="submit" class="btn btn-primary">{% trans %}order.nextStep{% endtrans %} <i class="fas fa-angle-double-right"></i></button>
        </div>

    {{ form_end(form) }}

{% endblock %}