{% extends 'Order/order.html.twig' %}


{% block form %}

    <div class="card-body">


        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">{% trans %}error{% endtrans %}</h4>
            <strong>{{ errormessage }}</strong>
        </div>

    </div>

    <div class="card-footer">

        <a role="button" href="{{ path('app_checkout') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> {% trans %}order.previous_step{% endtrans %}</a>
        </form>
    </div>

{% endblock %}