{% extends 'base.html.twig' %}

{% block body %}

    {% if form.vars is defined %}
        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="alert alert-warning text-center" role="alert">
                {{ error.message|trans }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card" id="form">

        <div class="card-header">
            {% if cardTitle is defined %}
                <strong>{{ cardTitle|trans }}</strong>
            {% endif %}
            {% if cardTitle == 'cardTitleConfirm'%}
                --- {% trans %}commandNumber{% endtrans %}: {{ order.orderNumber }}
            {% endif %}
        </div>

        {% block form %}

        {% endblock %}

    </div>

{% endblock %}