{% extends 'base.html.twig' %}

{% block body %}

    <div class="card" id="form">

        <div class="card-header">
            {% if cardTitle is defined %}
                <strong>{{ cardTitle|trans }}</strong>
            {% endif %}
            {% if cardTitle == 'cardTitleConfirm'%}
                --- {% trans %}commandNumber{% endtrans %}: {{ order.orderNumber }}
            {% endif %}
        </div>

        {% block form %}

        {% endblock %}

    </div>

{% endblock %}