{% extends 'base.html.twig' %}

{% block title %}Read {{ title }}{% endblock %}

{% block body %}
{# Article template#}
<h1>{{ title }}</h1>
<div>
    <p>Bring her forward! She looks like one. But you are dressed as one… Well, how'd you become king, then? Well, how'd you become king, then?</p>
    <p>I have to push the pram a lot. Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! We found them. You don't vote for kings. Well, we did do the nose.</p>
    <p>We want a shrubbery!! Burn her! And the hat. She's a witch! How do you know she is a witch? Shut up! You don't vote for kings.</p>
    <p>Burn her anyway! Shut up! Will you shut up?! Well, Mercia's a temperate zone! Be quiet!</p>
    <p>The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king. And this isn't my nose. This is a false one.</p>
    <p>We want a shrubbery!! Bloody Peasant! It's only a model. I have to push the pram a lot.</p>
    <p>Found them? In Mercia?! The coconut's tropical! Bloody Peasant! Well, we did do the nose. Be quiet! Well, we did do the nose.</p>
    <p>It's only a model. Well, she turned me into a newt. Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! How do you know she is a witch?</p>
    <p>I have to push the pram a lot. Oh, ow! Why? Found them? In Mercia?! The coconut's tropical! Well, she turned me into a newt.</p>
    <p>No, no, no! Yes, yes. A bit. But she's got a wart. But you are dressed as one… Why do you think that she is a witch? Ni! Ni! Ni! Ni!</p>
    <p>Well, Mercia's a temperate zone! Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
    <p>Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! Ni! Ni! Ni! Ni! Camelot! But you are dressed as one… He hasn't got shit all over him.</p>
    <p>And this isn't my nose. This is a false one. Well, I got better. Bring her forward! A newt?</p>
    <p>Well, she turned me into a newt. On second thoughts, let's not go there. It is a silly place. Shut up! Will you shut up?! Found them? In Mercia?! The coconut's tropical! The nose?</p>
    <p>No, no, no! Yes, yes. A bit. But she's got a wart. I'm not a witch. Why do you think that she is a witch? It's only a model.</p>
    <p>You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits! But you are dressed as one…</p>
    <p>Shut up! Why do you think that she is a witch? Bloody Peasant! Ni! Ni! Ni! Ni! Bloody Peasant!</p>
    <p>Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! And the hat. She's a witch! Be quiet! I have to push the pram a lot. How do you know she is a witch?</p>
    <p>On second thoughts, let's not go there. It is a silly place. I have to push the pram a lot. What a strange person. No, no, no! Yes, yes. A bit. But she's got a wart. Now, look here, my good man. She looks like one.</p>
    <p>Where'd you get the coconuts? Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. Oh, ow! I'm not a witch. I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
</div>

<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>
            {{ comment }}
        </li>
    {% endfor %}
</ul>
{% endblock %}